#beeHiveLogo{
    padding: 0;
    margin: 0;
}
#beeHiveLogoText{
    text-shadow: 2px 2px 4px black;

}
.navbar-brand{
    font-size: 50px;
}
.navbar-brand:hover{
    color: #FFF7E5;
}
.navbar-nav{
    padding: 10px;
}
.navOptions{
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px black;

}
.navOptions:hover{
    background-color: #FFF7E5;
    color: black;
}
.navbar-header{
    padding: 10px;
}
.navbar{
    background-color: #82A18F;
    margin: 0;
}
.navbar-brand{
    color: white;
    padding-right: 3px;
}
.headerIcons{
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px black;
    

}
.headerIcons:hover{
    background-color: #FFF7E5;
    color:black;
}
#searchContainer{
    background-image: url(../Images/homeBackground2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0;
    padding: 0;
    min-height: 1000px;
}
#homeMain{
    margin: 0;
    padding: 0;
}
#homeSearch{
    box-shadow: 2px 2px 4px black;
}
#homeSearchSubmitButton{
    box-shadow: 2px 2px 4px black;
}
#homeSearchForm{
    margin: 150px auto 0;
    padding: 10px;
    width: 50%;
    
}
#checkInCheckOut{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.homeInputLabels{
    padding: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
#checkInInput{
/*    margin-top: 20px;*/
    box-shadow: 2px 2px 4px black;
}
#checkOutInput{
    box-shadow: 2px 2px 4px black;
}
#guestsHomeInput{
    box-shadow: 2px 2px 4px black;

}
#homeSubmitButton{
    background-color: #82A18F;
    color: white;
    width: 50%;
    font-size: 30px;
    padding: 5px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px black;
/*    border: black 2px solid;*/
    box-shadow: 2px 2px 4px black;
}
#footer{
    background-color: #82A18F;
}
#footerColumn{
    text-align: center;
}
#footerList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.footerListItems{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-size: 16px;

}
.footerListItems:hover{
    background-color: #FFF7E5;
    color: black;

}
.footerListItem{
    display: inline-block;
}
.carouselImage{
    margin: 0 auto;
}
#aboutUsContainer{
    text-align: center;
}
#termsAndConditionsMainContainer{
}
#termsAndCondtionsContainer{
    text-align:center;
}

#aboutUsHeader{
    padding: 10px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px black;
    border: 2px black solid;
    display: inline-block;
    background-color: #82A18F;
    border-radius: 10px;
    margin-bottom: 18px;
    
}
#termsAndConditions{
    padding: 10px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px black;
    border: 2px black solid;
    display: inline-block;
    background-color: #82A18F;
    border-radius: 10px;
    margin-bottom: 18px;
}
body{
    background-color: #FFF7E5; 
}
